<!DOCTYPE html>
{% extends 'app1/index.html' %}
{% load static %}

    <html lang="pt-BR">
    {% block conteudo %}
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="{% static "css/acesso.css" %}">
            <title>Acessos</title>
        </head>
        <body>
            <h2>Aqui estão os registros de acesso:</h2>
            <div class="djangtwo">
                {% if lista_acessos %}
                    <table>
                        <thead>
                            <th>Nome da Página</th>
                            <th>Data de Acesso</th>
                        </thead>
                        {% for acesso in lista_acessos %}
                            <tr>
                                <td>{{ acesso.pagina|title}}</td>
                                <td>{{ acesso.data|date:"D d M Y" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>Sem registros. Tabela não criada.</p>
                {% endif %}
            </div>
        </body>
    {% endblock %}
    </html>