<!DOCTYPE html>
{% extends 'app1/index.html' %}
{% load static %}

    <html lang="pt-BR">
        {% block conteudosp %}
        <head>
            <meta charset="UTF-8">
            <title>São Paulo</title>
            <link rel="stylesheet" type="text/css" href="{% static "css/saopaulo.css" %}">
        </head>
        <body>
            <div class="conteiner">

                    <h1><a href="/">O que eu mais gosto em São Paulo</a></h1>
                    <div class="lugares">
                        <h2>Passear na Avenida Paulista</h2>
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/18/99/d8/ed/paulista.jpg" alt="Av. Paulista" >
                        <p>
                        Um dos principais centros financeiros da cidade, a avenida Paulista
                        também possui diversas opções de entretenimento. Endereço do Museu
                        de Arte de São Paulo, <em>MASP</em>, do Teatro Gazeta e muitos outros,
                        a região é de fácil acesso graças as diversas linhas de ônibus que
                        cruzam a avenida e a linha de metrô que passa por baixo dela.
                        </p>
                        <p>
                        A avenida paulista sempre é assunto. O que será que estão falando a respeito
                        no <a href="https://twitter.com/search?q=Avenida Paulista">Twitter.</a>
                        </p>
                    </div>
                    <div class="lugares">
                        <h2>Os bares da Vila Madalena</h2>
                        <img src="https://www.guiadasemana.com.br/contentFiles/image/opt_w840h0/2019juliana/lugares/vila-madalena/28060886-1719018988119237-4294555165498106193-o.jpg" alt="Vila Madalena">
                        <p>
                        Depois de um dia de trabalho, nada melhor do que um bom chopp, um
                        petisco e uma conversa em uma mesa de bar. Opções de sobra na região
                        das ruas Aspicuelta, Fradique Coutinho e Wisard.
                        </p>
                        <p>
                        Veja quais os melhores bares e restaurantes da região no
                        <a href="https://vejasp.abril.com.br/cidades/melhor-da-vila-madalena-restaurantes/">Guia da VEJA São Paulo.</a>
                        </p>
                    </div>
                    <div class="lugares">
                        <h2>O Parque Ibirapuera</h2>
                        <img src="https://abrilexame.files.wordpress.com/2019/03/parque-do-ibirapuera.gif" alt="Parque Ibirapuera">
                        <p>
                        Um dos cartões postais da cidade, o parque dispõe de mais de 1,5 km{^2}
                        de área verde, lagos artificiais e pistas de cooper e ciclismo. E se
                        isso não fosse o suficiente, o parque costuma ser palco de diversos
                        eventos culturais ao longo do ano.
                        </p>
                        <p>
                        Veja no
                        <a href="http://goo.gl/maps/HoH8">mapa</a>
                        como chegar ao parque.
                        </p>
                    </div>
            </div>
            <div class="lista">
                <h3>E existem muitos outros lugares interessantes na idade...</h3>
                <ol>
                    <li> O Mercado Municipal.</li>
                    <li> A Sala São Paulo.</li>
                    <li> Os estádios dos principais times de futebol da cidade.</li>
                    <li> Diversos museus, como o Memorial da América Latina, Museu da Língua Portuguesa e o Museu do Ipiranga.</li>
                    <li> E mais!</li>
                </ol>
            </div>
            <div class="rodape">
                <p>
                Página HTML desenvolvido por Rogério Dagnon®"
                </p>
            </div>
        </body>
        {% endblock %}
    </html>